
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;

}
body{
    background-color:#e999ff;
  
}
#header{
    width: 100%;
    height: 100%; 
   
    background-size: cover;
    background-position:center;
}



nav{
     display: flex; /* image and links will be side by side */
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;

}
.logo{
    width:140px

}
nav ul li{/* this indicates sthat we will be chainging the list display */
    display:inline-block;/* an inline element does not start on a new line and it only takes us as much space as necesssary */
    list-style: none;
    margin: 1px 50px;

}
nav ul li a{/* the 'a' means we can change how the link looks*/
 color: #ffffff;
 text-decoration: none;
 font-size: 20;
 position: relative;
}
nav ul li a::after{/* the double colon represents a pseudo element. represents an actual part of the dom*/
    content: ' '; 
    width: 0;
    height: 3px;
    background: #f410c3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
    background:#ff9999;
}

.left-contact{
    flex-basis: 35%;
}
.right-contact{
    flex-basis: 60%;
}
.left-contact p{
    margin: 30px;
    display: inline-block;
 
}
.left-contact p i{
    color: #000000;
    margin-right: 20px;
    font-size: 25px;


}
.left-contact h1{
    margin: 30px;
    display: inline-block;
    margin-left: 30px;
 
}
.social-icons{
  
    margin-top: 30px;
    margin-left: 30px;
    

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #453a3a;
    display: inline-block;
    transition: transform 0.5s ;
}
.social-icons a:hover{
    color: #902d2d;
    transform: translateY(-5px);

}
.btn {
    display: inline-block;
    margin: 50px auto;
    width:fit-content;
    border: 1px solid #61030c;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    background: #da8181;
    transition: background 0.5s;
    margin-left: 30px;
}
.btn:hover{
color: #e8dcdc;

}
.left-contact img{
    position:absolute;
   
}
.right-contact form{
    width: 100%;
     
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:  #db9898;
    padding: 15px;
    margin: 15px 0; 
    color: rgb(245, 245, 245);
    font-size: 18px;
    border-radius: 6px;

}

form .btn{
padding: 14px 60px;
font-size: 18px;
margin-top: 20px;
cursor:pointer;
}

#msg{
    color: #680505;
    margin-top: -40px;
    display: block;
    font-size: 14px;
    
}

.bg-pic{
    background-color:rgb(189, 119, 132);
    
}
