
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;

}
body{
    background-color:#e999ff;
    background-image:
    radial-gradient(at 59% 70%, hsla(35,90%,69%,1) 0px, transparent 50%),
    radial-gradient(at 70% 3%, hsla(220,91%,76%,1) 0px, transparent 50%),
    radial-gradient(at 28% 78%, hsla(244,89%,70%,1) 0px, transparent 50%),
    radial-gradient(at 38% 36%, hsla(172,73%,66%,1) 0px, transparent 50%),
    radial-gradient(at 74% 72%, hsla(89,89%,62%,1) 0px, transparent 50%),
    radial-gradient(at 28% 94%, hsla(320,62%,69%,1) 0px, transparent 50%),
    radial-gradient(at 53% 81%, hsla(280,87%,60%,1) 0px, transparent 50%);
}
#header{
    width: 100%;
    height: 100%; 
    background-image: url(images/web.png);
    background-size: cover;
    background-position:center;
}



nav{
     display: flex; /* image and links will be side by side */
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;

}
.logo{
    width:140px

}
nav ul li{/* this indicates sthat we will be chainging the list display */
    display:inline-block;/* an inline element does not start on a new line and it only takes us as much space as necesssary */
    list-style: none;
    margin: 1px 50px;

}
nav ul li a{/* the 'a' means we can change how the link looks*/
 color: #ffffff;
 text-decoration: none;
 font-size: 20;
 position: relative;
}
nav ul li a::after{/* the double colon represents a pseudo element. represents an actual part of the dom*/
    content: ' '; 
    width: 0;
    height: 3px;
    background: #f410c3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
    background:#e999ff;
}

.left-contact{
    flex-basis: 35%;
}
.right-contact{
    flex-basis: 60%;
}
.left-contact p{
    margin: 30px;
    display: inline-block;
 
}
.left-contact p i{
    color: #ab03a5;
    margin-right: 20px;
    font-size: 25px;


}
.left-contact h1{
    margin: 30px;
    display: inline-block;
    margin-left: 30px;
 
}
.social-icons{
  
    margin-top: 30px;
    margin-left: 30px;
    

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s ;
}
.social-icons a:hover{
    color: #ab03a5;
    transform: translateY(-5px);

}
.btn {
    display: inline-block;
    margin: 50px auto;
    width:fit-content;
    border: 1px solid #08e6df;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    background: #ab03a5;
    transition: background 0.5s;
    margin-left: 30px;
}
.btn:hover{
color: #e8dcdc;

}
.left-contact img{
    position:absolute;
   
}
.right-contact form{
    width: 100%;
     
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:  #aacdd3;
    padding: 15px;
    margin: 15px 0; 
    color: rgb(239, 237, 237);
    font-size: 18px;
    border-radius: 6px;

}

form .btn{
padding: 14px 60px;
font-size: 18px;
margin-top: 20px;
cursor:pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #431717;
    font-weight:  300;
    margin-top: 20px;
}
#msg{
    color: #ab0707;
    margin-top: -40px;
    display: block;
    font-size: 14px;
    
}

.bg-pic{
    background-color:#99fffa;
background-image:
radial-gradient(at 78% 87%, hsla(3,93%,65%,1) 0px, transparent 50%),
radial-gradient(at 21% 65%, hsla(283,81%,61%,1) 0px, transparent 50%),
radial-gradient(at 6% 94%, hsla(35,89%,63%,1) 0px, transparent 50%),
radial-gradient(at 41% 17%, hsla(352,80%,68%,1) 0px, transparent 50%),
radial-gradient(at 67% 36%, hsla(287,84%,73%,1) 0px, transparent 50%),
radial-gradient(at 24% 42%, hsla(192,79%,64%,1) 0px, transparent 50%),
radial-gradient(at 62% 7%, hsla(151,72%,75%,1) 0px, transparent 50%);
}

        
    



