
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;

}
body{
  
    background: #000000;
    /* color is for the text color */
    color: #ffffff ;
}
/* addding # before header because it is an id */
#header{
    width: 100%;
    height: 100vh; 
    background-color: #000000;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 0px 2%;
}
.header-text i{
    font-size:20px;
    margin-bottom: 10px;
    margin-left: 10px;

}


nav{
     display: flex; /* image and links will be side by side */
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;

}
.logo{
    width:140px

}
nav ul li{/* this indicates sthat we will be chainging the list display */
    display:inline-block;/* an inline element does not start on a new line and it only takes us as much space as necesssary */
    list-style: none;
    margin: 1px 50px;

}
nav ul li a{/* the 'a' means we can change how the link looks*/
 color: #ffffff;
 text-decoration: none;
 font-size: 20;
 position: relative;
}
nav ul li a::after{/* the double colon represents a pseudo element. represents an actual part of the dom*/
    content: ' '; 
    width: 0;
    height: 3px;
    background: #960e0e;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #960e0e;
}

/*-------------about-------------*/
#about{
     padding: 280px 190px 0 0;
     color: #ffffff
}
.rows{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
     
}
.about-col-1 img{
     width: 100%;
     border-radius: 15px;

}
.about-col-2 {
    color: #ababab;
    flex-basis: 60%;
}
.sub{
    font-size: 40px;
    font-weight: 600;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.tab-titles{
     display: flex;
     margin: 20px 0 40px;


}
.tab-links{
    color: #ababab;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#8d0d0d;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;
     
}
.tab-contents ul li{
    list-style:symbols(".");
    margin: 10px 0;

}
.tab-contents ul li span{
    color: rgba(255, 114, 89, 0.467);
    font-size: 14px;
}
.tab-contents{
    display: none;

}
.tab-contents.active-tab{
    display: block;
}
/*-----------services-------*/
#services{
    padding: 50px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.services-list div{
    background-color:#606060;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 10px;
    transition: 0.5s, transform 0.5s;
}
.services-list div i{
    font-size:50px;
    margin-bottom: 20px;
    
}
.services-list div h2{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;
}
.services-list div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #810f0f ;
    transform: translateY(-10px);
}
/*-----------portfolio-------*/
#portfolio{
    padding: 50px ;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
 .work img{
     width: 100%;
     border-radius: 10px;
     display: block;
     height: 400px;
     transition: transform 0.5s;
   

 }
 .layer{
     width: 100%;
     height: 0;
     background: linear-gradient(rgba(0,0,0,0.4), #500303);
     border-radius: 10px;
     position: absolute;
     left: 0;
     bottom: 0;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     text-align: center;
     font-size: 14px;
     transition: height 0.5s;
 }
 .layer h3{
     font-weight: 500;
     margin-bottom: 20px;
 }
 .layer a{
     margin-top: 20px;
     color: #500303;
     text-decoration: none;
     font-size: 14px;
     line-height: 60px;
     background: #ffffff;
     width: 63px;
     height:63px;
     border-radius: 50%;
     text-align: center;


 }
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
     height: 100%;

}
.btn {
    display: block;
    margin: 50px auto;
    width:fit-content;
    border: 1px solid #500303;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    transition: background 0.5s;
}
.btn:hover{
  background-color:  #500303;
}